# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Node.js
node_modules/
.pnpm-lock.yaml
frontend/
dist/
build/
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Other
/data
/matplotlib_cache
.env
logs/
/test_*.py
